/* Tablet and under */
@media (max-width: 768px) {
  .container {
    align-items: center;
  }
  .colors {
    width: 100vw;
    margin-left: 130px;
  }
  .singlecolorContainer {
    width: 20%;
  }
}

/* Mobile*/
@media (max-width: 500px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .wrapper h3 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .colors {
    width: 100vw;
    margin-left: 90px;
  }
  .singlecolorContainer {
    width: 40%;
  }
}

/* Mobile*/
@media (max-width: 400px) and (min-width: 320px) {
  .colors {
    width: 100vw;
    margin-left: 70px;
  }
  .singlecolorContainer {
    width: 40%;
    height: 25vh;
  }
  .wrapper h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .inputBox {
    margin-bottom: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
}
